body {
	
	background-image: url("../images/ecailles_@2X.png");
	background-repeat: repeat;
}

nav {
	background-color: #fff;
	border: 1px solid #dedede;
	border-radius: 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	color: #888;
	display: block;
	margin: 8px 22px 8px 22px;
	overflow: hidden;
	width: 90%; 
}


h1 {
	padding-left: 15px;
}

p {
	padding-left: 
}


.category {
	margin: 0 auto;
}


label {
	cursor: pointer;
	width: 100%;
	display: inline-block;
}

form {
	margin-right: 15px;
	margin-left: 15px
}

img.checked {
	margin-right: 10px;
	margin-top: 10px;
}

.submit {
	display: block;
}
label img {
	width: 100%;
	height: auto;
}
@media screen and (min-width: 321px) {
	label {
		width: 50%;
	}
}
@media screen and (min-width: 960px) {
	label {
		width: 25%;
	}
}

