html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
background: white;
transition:background-color 7s ease;
text-align: center;
}

body.pink {
	background: pink;
}
.page-wrapper {
	max-width: 60em;
	margin: 0 auto;
	text-align: left;
}

p {
	font-family: "grafolita-script", sans-serif;
	font-size: 3em;
	text-align: center;
	color: white;
	margin: 0px 30px 0px 30px;
}
h2 {
	font-family: "fira-sans-2",sans-serif;
	color: white;
	text-align: center;
	font-size: 5em;
}

h1 {
	font-family: "trajan-sans-pro",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-style: normal;
	font-size: 35px;
	text-align: center;
	margin: 25px;
	color: #31302f;
}

.category {
	margin: 0 auto;
	max-width: 960px;

}

label {
	cursor: pointer;
	display: inline-block;
	width: 100%;
}

.portrait label {
	width: 50%;
	display: inline-block;
}

input[type="radio"] {
	display: none;
}

form {
	margin-right: 35px;
	margin-left: 35px;
	margin-top: 30px;
}

.quiz-color {
	background-color: black;
}

.img {
	padding-right: 10px;
}

img.checked {
	border: 1px solid black;

}

.submit {
	margin-top: 15px;
	margin-bottom: 70px;
	display: block;
	
	border-radius: 10px;
}

label img {
	width: 100%;
	height: auto;
}

@media screen and (min-width: 640px) {
	label {
		width: 50%;
		padding: 0 4px 4px;
	}
}