body {
	
	background-image: url("../images/background.png");
	background-repeat: repeat;
}
p {
	font-family: "bistro-script", sans-serif;
	text-align: center;
}

nav {
	background-color: #290000;
	border: 1px solid #dedede;
	border-radius: 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	color: #888;
	margin: 8px 22px 8px 22px;
	overflow: hidden;
	width: 90%; 
	list-style: none;
}

nav ul {
	list-style: none;
	text-align: center;
	margin: 10px;
}

nav li {
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  display: inline-block;
}

nav a {
  font-family: "grafolita-script",sans-serif;
  text-decoration: none;
  color: #fff;
  
}

h1 {
	padding-left: 15px;
}

p {
	padding-left: 
}

.category {
	margin: 0 auto;

}

label {
	cursor: pointer;
	width: 25%;
	display: inline-block;
}

form {
	margin-right: 15px;
	margin-left: 15px
}

.img {
	padding-right: 10px;
}

img.checked {
	box-shadow: 2px 2px 2px 1px 0px red;
	padding-bottom: 15px;
}

.submit {
	margin-top: 15px;
	margin-bottom: 70px;
	display: block;
	background-image: linear-gradient(white -10%,#494542 78%, #f97432);
	border-radius: 10px;
}

label img {
	width: 100%;
	height: auto;
}
@media screen and (min-width: 321px) {
	label {
		width: 50%;
	}
}
@media screen and (min-width: 960px) {
	label {
		width: 25%;
	}
}

